*{
    box-sizing: border-box;
    margin:0;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.showcase{
    position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: pink;
    z-index: 2;
}
.showcase .active{
    right: 300px;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upnav{
    float: right;
    position: top;
    overflow:flex;
}
.upnav a{
    float: left;
    color:pink;
     text-align: center;
     padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
}
.upnav a:hover {
    background-color:white;
  color:black;
}

.navigationbar{
    overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navigationbar a{
    float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
.drpdwn{
    float: left;
    overflow: hidden;
}

.drpdwn .dropbutton {
    font-size: 16px;
  border: none;
  outline: none;
  color:#86e3ce;
  padding:12px 16px;
  background-color: inherit;
  margin: 0;
  font-family: inherit;
}
.navigationbar a :hover, 
.drpdwn:hover
.dropbutton{
    background-color: pink;
}
.drpdwn-aboutme{
    display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.drpdwn-aboutme a {
    float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; 
}
.drpdwn-aboutme a:hover{
    background-color: #c996f1;
}
.drpdwn:hover
.drpdwn-aboutme{
    display: block
}

.leen{
    width: 1200px;
    margin: 100px Auto;
 }
.thetitle{
    text-align: center;
    margin-bottom: 60px; 
 
 }
.thetitle h4{
     text-transform:capitalize;
     font-size: 36px;
     position: relative;
     display: inline-block;
     padding-bottom: 10px;
     color: #86e3ce;
 }
.thetitle h4 span{
     display: block;
     font-size: 25px;
     font-style: italic;
     margin-bottom: -8px;
     color:burlywood;
 }
 .thetitle h4:before{
     position: absolute;
     content: "";
     width: 100px;
     height: 2px;
     background-color:  pink;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
 }
 .kdrama{
    display: grid;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
.favkdrama{
    flex-basis: 780px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid whitesmoke;
    border-radius: 5%;
    border-width: 5px;
}
.stankpop {
    flex-basis: 780px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid whitesmoke;
    border-radius: 5%;
    border-width: 5px;
}
.favkdrama:nth-child(5),
.favkdrama:nth-child(6){
    border-bottom: 0;
}

.stankpop:nth-child(5),
.stankpop:nth-child(6){
    border-bottom: 0;
}
.favkdrama{
    flex-direction: row;
    align-items: right;
    display: flex;
}
.stankpop{
    flex-direction: row;
    align-items: right;
    display: flex;
}
.favkdrama img{
    max-width: 400px;
    margin-right: 30px;
    border:  5px solid pink;
    padding: 10px;
}
.stankpop img{
    max-width: 300px;
    margin-right: 30px;
    border:  5px dashed pink;
    border-radius: 40%;
    padding: 10px;
}
.favkdrama h4{
    text-transform: capitalize;
    font-size: 30px;
    color: #86e3ce;
    border-bottom: 3px dashed pink;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.stankpop h4{
    text-transform: capitalize;
    font-size: 30px;
    color: #86e3ce;
    border-bottom: 3px dashed pink;
    margin-bottom: 5px;
    padding-bottom: 5px;

}
.paginationbutton{
  text-align: center;
}

.pgn {
    display: inline-block;
  }
  
.pgn a {
    color: whitesmoke;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 5px solid white;
    margin: 0 4px;
  }
  
.pgn a.active {
    background-color:palevioletred;
    color: white;
    border: 2px solid whitesmoke;
  }
  
  .pgn a:hover:not(.active) {background-color: #86e3ce;}
  
